<h1>New Movie Page</h1>

<%= form_for @movie do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :genre %>
  <%= f.text_field :genre %>
  <br>
  <%= f.label :release_date %>
  <%= f.number_field :release_date %>
  <br>
  <%= f.label :img_url %>
  <%= f.text_field :img_url %>
  <br>

  <%= f.submit :Submit %>
<% end %>


