<h1><%= @movie.title %></h1>

<p><b>Genre: </b><%= @movie.genre %></p>
<p><b>Release Date: </b><%= @movie.release_date %></p>

<img src="<%= @movie.img_url %>" alt="<%= @movie.title %>" height="600" width="400">


