<h1>New User</h1>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <br>
  <%= f.label :bio %>
  <%= f.text_field :bio %>
  <br>

  <%= f.submit :Submit %>
<% end %>